*.pyc
*~

/data
\logs
/output/theano_kfold/*.h5

roc_vals.h5
output/roc_vals_1epoch.h5
output/roc_vals_20epochs.h5
output/NumberNetworkKFOLD.h5.bak
output/apply_outdata.h5
output/NumberNetworkKFOLD.h5
output/LG_theano_total.h5
runcmd.TXT
output/LG_theano_test.h5
output/Trained_theano_test.h5
output/Trained_theano_total.h5
output/LG_test.h5
*.h5
*.h5
output/LGtf.h5
output/appy_LGtf.h5
output/appy_LG.h5
