*.pyc
*~

/data
\logs

roc_vals.h5
slurm_run/runtest.sh
slurm_run/test.h5
slurm_run/test.py
slurm_run/test.txt
output/roc_vals_1epoch.h5
output/roc_vals_20epochs.h5
output/NumberNetworkKFOLD.h5.bak
output/apply_outdata.h5
output/NumberNetworkKFOLD.h5
output/LG_theano_total.h5
output/Trained_theano_total.h5
output/Trained_theano_test.h5
output/LG_theano_test.h5
