*.pyc
*~

/data
\logs
/output/theano_kfold/*.h5

roc_vals.h5
output/roc_vals_1epoch.h5
output/roc_vals_20epochs.h5
output/NumberNetworkKFOLD.h5.bak
output/apply_outdata.h5
output/NumberNetworkKFOLD.h5
output/LG_theano_total.h5
output/Trained_theano_total.h5
output/Trained_theano_test.h5
output/LG_theano_test.h5
output/Boping_theano_test.h5
output/Boping_theano_test.h5
output/Boping_theano_test.h5
output/barrel_trained_apply.h5
output/endcap_flip_trained_apply.h5
output/endcap_noflip_trained_apply.h5
output/ibl_trained_apply.h5
output/trained_apply.h5
output/LG_apply.h5
output/theano104_jz7w_applyjz4w.h5
output/theano104_jz7w_applyjz7w.h5
output/theano104_jz7wevensplit_applyjz4w.h5
output/theano104_jz7wevensplit_applyjz7w.h5
output/jz7wevensplit_applyjz7w.h5
output/jz7wevensplit_applyjz4w.h5
output/jz7w_applyjz7w.h5
output/jz7w_applyjz4w.h5
output/evensplit_equalfrac_jz4wapply.h5
output/evensplit_equalfrac_jz7wapply.h5
.vscode/settings.json
output/evensplit_equalfrac_smallsample.h5
output/evensplit_equalfrac_smallsample_applyjz7w.h5
output/jz7wevensplit_equalfrac_applysmallsample.h5
modelWeights/812_evensplitlayers_equalfrac.h5
modelWeights/813_evensplit_equalfrac_smallsample.h5
output/812_evensplit_equalfrac_applysmallsample.h5
output/812_evensplit_equalfrac_jz7wapply.h5
output/813_evensplit_equalfrac_smallsample_applyjz7w.h5
output/814_evensplit_equalfrac_applyjz7w.h5
output/812_apply814.h5
